
:root{
  --body-color:#1f1f38;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
body {
  background: var(--body-color) !important;
  overflow-x: hidden;
  color: white !important;
  display: block;
}
