* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
body {
  background: rgb(30, 30, 30);
  overflow-x: hidden;
  color: white;
  display: block;
}
