#works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6rem auto;
  text-align: center;
  padding: 0 1rem;
}
#works h6{
  color:#fff9;
}
.worksTitle {
  margin: 0rem 0 1rem 0;
  font-family: "Poppins", sans-serif;
  color: #4db5ff;
}
.worksDes {
  font-weight: 300;
  font-size: 1rem;
}
.worksDes p {
  margin-bottom: 1rem;
  color: #fff9;
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
}

.worksImg {
  object-fit: cover;
  height: 20rem;
  margin: 0.5rem;
}
.workBtn {
  padding: 0.5rem 2.5rem;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  margin: 3rem 0;
}

@media screen and (max-width: 585px) {
  .worksImg {
    height: 48vw;
  }
}

.skills-section {
  padding: 80px 0;
}
@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.skills-card {
  background: #2a2d63;
  border-radius: 20px;
  padding: 40px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.skills-card::before{
  content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
    background: linear-gradient(90deg, #00d5ff, #ff00ee, #00d5ff);
    background-size: 200% auto;
    animation: gradient-shift 3s linear infinite;

}
.skills-card:hover {
  background: transparent;
  border: 1px solid #fff9 ;
}

.skills-title {
  color: #00b3ff;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.skill-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  font-size: 15px;
  text-align: left;
}

.skill-icon {
  color: #ffffff;
  font-size: 16px;
}

