#skills {
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
#skills h6{
  color: #fff9;
}
.skillTitle {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  font-family: "Poppins", sans-serif;
  color: #4db5ff;
}
.skillDes {
  font-size: 400;
  font-size: 1rem;
  max-width: 50rem;
  padding: 0 2rem;
  margin: 0 auto 2rem auto;
  color: #fff9;
}
.skillBars {
  
  text-align: left;
  margin: auto;
}
.skillBar {
  display: flex;
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: rgb(50, 50, 50);
}
.skillBarImg {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin-right: 2rem;
}
.skillBarText p {
  font-size: 0.75rem;
  font-weight: 200;
}

