.navbar {
  height: 5rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed !important;
  top: 0;
  z-index: 3;
  background: rgba(77, 181, 255, 0.55);
}
.logo {
  object-fit: cover;
  height: 3rem;
  width: 4rem;
}
/* Desktop menu */

.deskTopMenuItemList {
  margin: 1rem;
  cursor: pointer;
  color: #fff;
}
a.deskTopMenuItemList {
  text-decoration: none;
}
.deskTopMenuItemList:hover {
  color: #fff;
  padding-bottom: 0.3rem;
  border-bottom: 3px solid #fff;
}
.desTopMenuButton {
  background: white;
  color: #000;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 2rem;
}
.desktopMenuImg {
  object-fit: cover;
  height: 1rem;
  width: 1rem;
  margin: 1rem;
}
.active {
  color: #fff;
  border-bottom: 3px solid #fff;
  padding-bottom: 0.5rem;
}

.navMenu {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  min-width: 15rem;
  background: rgb(40, 40, 40);
  border-radius: 1rem;
}
.listItem {
  color: white;
  padding: 0.5rem 3rem;
  margin: 0.25rem;
  background: rgb(30, 30, 30);
}
.mobMenu {
  display: none;
  object-fit: cover;
  height: 1.8rem;
}

@media screen and (max-width: 720px) {
  .mobMenu {
    display: flex;
  }
  .desktopMenu {
    display: none;
  }
  .desktopMenuBtn {
    display: none;
  }
}
