#intro {

  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}
.bg {
  position: absolute;
  top: -4rem;
  right: 0;
  z-index: -1;
  object-fit: cover;
  height: 100vh;
}
.introContent {
  /* width: 100vw; */
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center; */
}
.hello {
  font-size: 1.75rem;
  font-weight: 100;
}
.introName {
  color: #4db5ff;
}
.introPara {
  font-size: medium;
  font-weight: 200;
}
.btn {
  background: white;
  padding: 0.75rem 2rem;
  border-radius: 2rem;
  border: none;
}
.btnImg {
  object-fit: cover;
  margin: 0 0.25rem;
  height: 1rem;
}

.header__profile-image-container{
    align-items: center;
    background: linear-gradient(#52527b, #0000);
    border-radius: 12rem 12rem 0 0;
    display: flex;
    justify-content: center;
    left: 50%;
    margin-top: 3rem;
    overflow: hidden;
    position: absolute;
    transform: translateX(-50%);
    border:3px solid #2c2c4c;
    box-shadow: 0 0px 19px #9c9cff;
}

@media screen and (max-width: 840px) {
  .bg {
    right: -10vw;
  }
  .introContent {
    font-size: 10vw;
  }
  .hello {
    font-size: 4.5rem;
  }
}
.downloadBtn a{
  font-size: 1rem;
}
.downloadBtn a:hover{
 background: #4db5ff;
 border-color: #0d6efd;
}
