#footer {
  width: 100%;
  height: auto;
  background:#4db5ff;
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: small;
  justify-content: center;
  padding: 3rem 0;
  color: black;
  font-weight: normal;
}
